<div class="container">
  <div class="row">
    <div class="col-8">

      <h2>商品詳細</h2>
      <table class="table">
        <tr>
          <td><%= attachment_image_tag @item, :image, size: '80x60', fallback: 'no_image.jpg' %></td>
          <td><%= @item.item_name %></td>
          <td><%= @item.description %></td>
          <td>¥<%= (@item.non_taxed_price * 1.1).round %>  (税込)</td>
          <td>
            <% if @item.sale_status == true %>
              販売中
            <% else %>
              売り切れ
            <% end %>
          </td>
        </tr>
      </table>

      <% if @item.sale_status == true %>

        <%= form_with model: @cart_item, local: true do |f| %>

          <%= f.hidden_field :end_user_id, value: current_end_user.id %>
          <%= f.hidden_field :item_id, value: @item.id %>

          <%= f.number_field :amount, min: 1 %>
          <br>
          <%= f.submit "カートに入れる" %>

        <% end %>

      <% else %>
        只今、在庫切れのため、カートに入れることはできません
      <% end %>
      <br>
      <%= link_to "商品一覧へ戻る", items_path %>

    </div>
  </div>
</div>